<section class="hero" id="hero">
  <div class="container container-narrow">
    <div class="">
      <h1 class="hero-title">
        Hello. <br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
      <div class="nav-hero">
        <ul class="soc-list-hero">
          <li class="soc-item-hero">
            <a
              class="soc-link-hero"
              href="https://www.instagram.com/goitclub/  "
              target="_blank"
              >IG</a
            >
          </li>
          <li class="soc-item-hero">
            <a
              class="soc-link-hero"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >FB</a
            >
          </li>
          <li class="soc-item-hero">
            <a
              class="soc-link-hero"
              href="https://www.youtube.com/c/GoIT "
              target="_blank"
              >YT</a
            >
          </li>
          <li class="soc-item-hero">
            <a
              class="soc-link-hero"
              href="https://github.com/Oleksii2208/Portfolio"
              target="_blank"
              >GH</a
            >
          </li>
          <li class="soc-item-hero">
            <a
              class="soc-link-hero"
              href="lloydjefferson@gmail.com"
              target="_blank"
              >lloydjefferson@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
