<section class="hero" id="hero">
  <div class="container container-narrow">
    <h1>
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul>
      <li>
        <a href="https://www.instagram.com/goitclub/  " target="_blank">IG</a>
      </li>
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
      </li>
      <li><a href="https://www.youtube.com/c/GoIT " target="_blank">YT</a></li>
      <li>
        <a href="https://github.com/Oleksii2208/Portfolio" target="_blank"
          >GH</a
        >
      </li>
      <li>
        <a href="lloydjefferson@gmail.com" target="_blank"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
