<section class="work-together">
  <div class="container">
    <img src="img/webp/img-logo.webp" alt="Logo" width="70" height="70" />
    <h2>Let’s work together</h2>
    <div class="container-form">
        <!-- <h1 class="main-title">
          <span class="main-title-gradient">Welcome</span> to page 2
        </h1> -->
        <form class="feedback-form" autocomplete="off">
          <label>
            <input type="email" name="email" autofocus placeholder="clients@gmail.com" />
          </label>
          <label>

            <textarea name="message" placeholder="comment"></textarea>
          </label>
          <button type="submit">Send</button>
        </form>
        <nav>
          <ul>
            <li><a href="lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
            <li><a href="+380 11 1111 11 11">+380 11 1111 11 11</a></li>
          </ul>
        </nav>
  </div>
</section>
