.header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.additional-container {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.logo {
}

.logo-header {
  display: flex;
  gap: 8px;
}

.img-logo-header {
}
.navigation-header {
}
.menu-link-header {
  cursor: pointer;
  text-decoration: underline;
}
.nav-header {
}
.nav-list-header {
}
.nav-item-header {
}
.nav-link-header {
}
.header-anchor-link {
  border-radius: 60px;
  padding: 18px 24px;
  /* width: 163px; */
  height: 55px;
  background-color: #ed3b44;
  display: flex;
  align-items: center;
  justify-content: center;
}
