.header {
  /* position: absolute; */
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.additional-container {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
