.hero {
  padding-top: 0;
  position: relative;
}

.container-narrow {
  background-color: #1c1d20;
  background-image: url('../img/hero/hero-img.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
