.hero {
  padding-top: 0;
  position: relative;
}

.container-narrow {
  background-color: #1c1d20;
  background-image: url('../img/hero/hero-img.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 32px;
}

.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0 auto;
  margin-bottom: 243px;
  /* max-width: 1084px; */
}
